/* src/components/home/Mission/Mission.module.css */
.missionSection {
  padding: 100px 0;
  text-align: center;
  background-color: #F6F9FF;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--text-primary);
  max-width: 800px;
  margin: 0 auto;
}

.subtitle{
  padding-top: 30px;
  color: var(--text-primary);
  font-size: x-large;
}

.statsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.statCard {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  transition: transform 0.3s ease;
}

.statCard:hover {
  transform: translateY(-5px);
}

.statNumber {
  font-size: 40px;
  font-weight: 700;
  color: var(--primary);
  line-height: 1;
}

.statLabel {
  font-size: 18px;
  color: var(--text-secondary);
  line-height: 1.4;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .statsGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  .title {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .missionSection {
    padding: 30px 0;
  }

  .container {
    gap: 40px;
  }

  .statsGrid {
    grid-template-columns: 1fr;
    gap: 16px;
    margin-top: 0;
  }

  .title {
    font-size: 30px;
    color: black;
  }

  .statCard {
    padding: 16px;
  }

  .statNumber {
    font-size: 32px;
    color: black;
  }

  .statLabel {
    font-size: 16px;
    color: black;
  }
}