.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.main_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    max-width: 900px;
    color: var(--text-primary);
}

.main_subtitle {
    font-size: 18px;
    line-height: 1.6;
    color: #666666;
    max-width: 1000px;
}

.primaryButton {
    padding: 16px 35px;
    background-color: var(--primary);
    color: white;
    border-radius: 60px;
    font-weight: 500;
    transition: background-color 0.3s;
}

.primaryButton:hover {
    background-color: var(--primary);
}

.secondaryButton {
    padding: 16px 32px;
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 60px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s;
}

.secondaryButton:hover {
    background-color: #F3F4F6;
}


.ctaButtons {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 60px;
}