/* src/components/home/BrandLogo/BrandLogo.module.css */
.image2Icon {
    width: 1440px;
    height: 275px;
    position: relative;
    object-fit: cover;
}

.brandLogoDesktop {
    height: 315px;
    background-color: var(--neutral-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 1066px;
    max-width: 1440px;
}